@import url(https://fonts.googleapis.com/css?family=Gochi+Hand:400&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i&display=swap);





body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Gochi Hand', handwriting;
  font-size: 2.6rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 4.16rem;
}
.display-2 {
  font-family: 'Gochi Hand', handwriting;
  font-size: 2.4rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 3.84rem;
}
.display-4 {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.1rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.76rem;
}
.display-5 {
  font-family: 'Gochi Hand', handwriting;
  font-size: 1.5rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.76rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.08rem;
    font-size: calc( 1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.92rem;
    font-size: calc( 1.49rem + (2.4 - 1.49) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.49rem + (2.4 - 1.49) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #149dcc !important;
}
.bg-success {
  background-color: #59bd58 !important;
}
.bg-info {
  background-color: #d80922 !important;
}
.bg-warning {
  background-color: #c871d9 !important;
}
.bg-danger {
  background-color: #f6cf03 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #149dcc !important;
  border-color: #149dcc !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #271369 !important;
  border-color: #271369 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #0f0728 !important;
  border-color: #0f0728 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #0f0728 !important;
  border-color: #0f0728 !important;
}
.btn-info,
.btn-info:active {
  background-color: #d80922 !important;
  border-color: #d80922 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #8f0616 !important;
  border-color: #8f0616 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #8f0616 !important;
  border-color: #8f0616 !important;
}
.btn-success,
.btn-success:active {
  background-color: #59bd58 !important;
  border-color: #59bd58 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #3a9039 !important;
  border-color: #3a9039 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #3a9039 !important;
  border-color: #3a9039 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #c871d9 !important;
  border-color: #c871d9 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #b036c8 !important;
  border-color: #b036c8 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #b036c8 !important;
  border-color: #b036c8 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #f6cf03 !important;
  border-color: #f6cf03 !important;
  color: #000000 !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #000000 !important;
  background-color: #aa8f02 !important;
  border-color: #aa8f02 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #000000 !important;
  background-color: #aa8f02 !important;
  border-color: #aa8f02 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #149dcc;
  border-color: #149dcc;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #070313;
  color: #070313;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #271369;
  border-color: #271369;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #271369 !important;
  border-color: #271369 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #760513;
  color: #760513;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #d80922;
  border-color: #d80922;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #d80922 !important;
  border-color: #d80922 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #327d32;
  color: #327d32;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #59bd58;
  border-color: #59bd58;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #59bd58 !important;
  border-color: #59bd58 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #9e30b4;
  color: #9e30b4;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #c871d9;
  border-color: #c871d9;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #c871d9 !important;
  border-color: #c871d9 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #917a02;
  color: #917a02;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #000000;
  background-color: #f6cf03;
  border-color: #f6cf03;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #000000 !important;
  background-color: #f6cf03 !important;
  border-color: #f6cf03 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #149dcc !important;
}
.text-secondary {
  color: #271369 !important;
}
.text-success {
  color: #59bd58 !important;
}
.text-info {
  color: #d80922 !important;
}
.text-warning {
  color: #c871d9 !important;
}
.text-danger {
  color: #f6cf03 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #0b566f !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #070313 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #327d32 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #760513 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #9e30b4 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #917a02 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #d80922;
}
.alert-warning {
  background-color: #c871d9;
}
.alert-danger {
  background-color: #f6cf03;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #149dcc;
  border-color: #149dcc;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #149dcc;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b4e6f8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #b4e1b3;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #fcb1ba;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #fef5c7;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.76rem;
}
blockquote {
  border-color: #149dcc;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #149dcc;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #149dcc;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #149dcc;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #149dcc;
  border-bottom-color: #149dcc;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #149dcc !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #271369 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23149dcc' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-ri2KkUEIcA {
  padding-top: 30px;
  padding-bottom: 60px;
}
.cid-ri2KkUEIcA .media-container-row {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
@media (min-width: 992px) {
  .cid-ri2KkUEIcA .mbr-figure {
    padding-right: 4rem;
    padding-right: 0;
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-ri2KkUEIcA .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-ri2KkUEIcA .mbr-text {
    text-align: center;
  }
}
.cid-ri2KkUEIcA H1 {
  color: #fce800;
  text-align: center;
}
.cid-ri2KkUEIcA .mbr-text,
.cid-ri2KkUEIcA .mbr-section-btn {
  text-align: center;
}
.cid-rGRZl2LY09 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #f7ed4a;
}
.cid-rGRZl2LY09 .mbr-section-subtitle {
  color: #767676;
}
.cid-rGRZl2LY09 ul.list-inline {
  margin: 0;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rGRZl2LY09 ul.list-inline li {
  margin: 0;
  padding: .5rem;
}
.cid-rGRZl2LY09 ul.list-inline img {
  width: 100px;
  height: 100px;
}
.cid-rGRZl2LY09 ul.list-inline img:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
}
@media (max-width: 767px) {
  .cid-rGRZl2LY09 .list-inline-item img {
    max-width: 301px;
  }
}
.cid-rT773BVzAC {
  padding-top: 30px;
  padding-bottom: 60px;
}
.cid-rT773BVzAC .media-container-row {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
@media (min-width: 992px) {
  .cid-rT773BVzAC .mbr-figure {
    padding-right: 4rem;
    padding-right: 0;
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rT773BVzAC .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-rT773BVzAC .mbr-text {
    text-align: center;
  }
}
.cid-rT773BVzAC H1 {
  color: #c871d9;
  text-align: center;
}
.cid-rT773BVzAC .mbr-text,
.cid-rT773BVzAC .mbr-section-btn {
  text-align: center;
  color: #efefef;
}
.cid-rT773BVzAC H2 {
  color: #c871d9;
}
.cid-rGRZWn6wny {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #c871d9;
}
.cid-rGRZWn6wny .mbr-section-subtitle {
  color: #767676;
}
.cid-rGRZWn6wny ul.list-inline {
  margin: 0;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rGRZWn6wny ul.list-inline li {
  margin: 0;
  padding: .5rem;
}
.cid-rGRZWn6wny ul.list-inline img {
  width: 100px;
  height: 100px;
}
.cid-rGRZWn6wny ul.list-inline img:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
}
@media (max-width: 767px) {
  .cid-rGRZWn6wny .list-inline-item img {
    max-width: 301px;
  }
}
.cid-rjSgSwacx2 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.cid-rjSgSwacx2 p {
  color: #767676;
}
.cid-rjSgSwacx2 .mbr-section-subtitle {
  color: #ffffff;
}
.cid-rjSgSwacx2 .accordion-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-rjSgSwacx2 .panel-group {
  width: 100%;
}
.cid-rjSgSwacx2 .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-rjSgSwacx2 .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-rjSgSwacx2 .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: block;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-rjSgSwacx2 .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-rjSgSwacx2 .card .card-header a.panel-title h4 {
  padding: 1.3rem 2rem;
  border: 1px solid #dfdfdf;
  margin-bottom: 0;
}
.cid-rjSgSwacx2 .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-rjSgSwacx2 .mbr-figure {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  padding-left: 4rem;
  padding-left: 0;
  padding-right: 4rem;
}
.cid-rjSgSwacx2 .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-rjSgSwacx2 .media-container-row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-rjSgSwacx2 .mbr-figure {
    padding-right: 0;
    padding-left: 0;
    padding-top: 2rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }
}
.cid-rjSgSwacx2 H2 {
  color: #ffffff;
}
.cid-rjSgSwacx2 H4 {
  color: #ffffff;
  text-align: center;
}
.cid-rjSgSwacx2 .panel-text {
  text-align: center;
  color: #f7ed4a;
}
.cid-rGRWqYExXU {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #271369;
}
.cid-rGRWqYExXU .mbr-section-subtitle {
  color: #767676;
}
.cid-rGRWqYExXU ul.list-inline {
  margin: 0;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rGRWqYExXU ul.list-inline li {
  margin: 0;
  padding: .5rem;
}
.cid-rGRWqYExXU ul.list-inline img {
  width: 100px;
  height: 100px;
}
.cid-rGRWqYExXU ul.list-inline img:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
}
@media (max-width: 767px) {
  .cid-rGRWqYExXU .list-inline-item img {
    max-width: 301px;
  }
}
.cid-ri2Yxf769k {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #271369;
}
.cid-ri2Yxf769k .mbr-text {
  color: #767676;
}
.cid-ri2Yxf769k .mbr-text P {
  color: #d8c700;
  text-align: center;
}
.cid-rGRZqb36xV {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #f7ed4a;
}
.cid-rGRZqb36xV .mbr-section-subtitle {
  color: #767676;
}
.cid-rGRZqb36xV ul.list-inline {
  margin: 0;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rGRZqb36xV ul.list-inline li {
  margin: 0;
  padding: .5rem;
}
.cid-rGRZqb36xV ul.list-inline img {
  width: 100px;
  height: 100px;
}
.cid-rGRZqb36xV ul.list-inline img:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
}
@media (max-width: 767px) {
  .cid-rGRZqb36xV .list-inline-item img {
    max-width: 301px;
  }
}
.cid-rGRZwRzHjI {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #429142;
}
.cid-rGRZwRzHjI .mbr-section-subtitle {
  color: #767676;
}
.cid-rGRZwRzHjI ul.list-inline {
  margin: 0;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rGRZwRzHjI ul.list-inline li {
  margin: 0;
  padding: .5rem;
}
.cid-rGRZwRzHjI ul.list-inline img {
  width: 100px;
  height: 100px;
}
.cid-rGRZwRzHjI ul.list-inline img:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
}
@media (max-width: 767px) {
  .cid-rGRZwRzHjI .list-inline-item img {
    max-width: 301px;
  }
}
.cid-rjXbilYiUd {
  padding-top: 15px;
  padding-bottom: 45px;
  background-color: #429142;
}
.cid-rjXbilYiUd .socicon-bg-facebook {
  background: #3e5b98;
  color: #ffffff;
}
.cid-rjXbilYiUd .socicon-bg-twitter {
  background: #4da7de;
  color: #ffffff;
}
.cid-rjXbilYiUd .socicon-bg-googleplus {
  background: #dd4b39;
  color: #ffffff;
}
.cid-rjXbilYiUd .socicon-bg-vkontakte {
  background: #5a7fa6;
  color: #ffffff;
}
.cid-rjXbilYiUd .socicon-bg-odnoklassniki {
  background: #f48420;
  color: #ffffff;
}
.cid-rjXbilYiUd .socicon-bg-pinterest {
  background: #c92619;
  color: #ffffff;
}
.cid-rjXbilYiUd .socicon-bg-mail {
  background: #134785;
  color: #ffffff;
}
.cid-rjXbilYiUd .btn-social {
  border: none !important;
}
.cid-rjXbilYiUd [class^="socicon-"]:before,
.cid-rjXbilYiUd [class*=" socicon-"]:before {
  line-height: 44px;
}
@media (max-width: 767px) {
  .cid-rjXbilYiUd .btn {
    font-size: 20px !important;
  }
}
.cid-rjXbilYiUd .mbr-section-title {
  color: #ede010;
}
.cid-rjXdDy8d42 {
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: #429142;
  background: linear-gradient(45deg, #429142, #429142);
}
.cid-rjXdDy8d42 .media-container-row {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
@media (min-width: 992px) {
  .cid-rjXdDy8d42 .mbr-figure {
    padding-right: 4rem;
    padding-right: 0;
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rjXdDy8d42 .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-rjXdDy8d42 .mbr-text {
    text-align: center;
  }
}
.cid-rjXdDy8d42 H1 {
  color: #fce800;
  text-align: center;
}
.cid-rjXdDy8d42 .mbr-text,
.cid-rjXdDy8d42 .mbr-section-btn {
  text-align: center;
}
.cid-ri30rT6aaC {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("https://res.cloudinary.com/evenmentenorganisatie-activiteiten-noordwijk/image/upload/c_fill,h_590,w_1900/t_dunity/v1551839332/vvsb-wandel-football-faq.jpg");
}
@media (max-width: 767px) {
  .cid-ri30rT6aaC .content {
    text-align: center;
  }
  .cid-ri30rT6aaC .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.cid-ri30rT6aaC .map {
  height: 18.75rem;
}
@media (max-width: 767px) {
  .cid-ri30rT6aaC .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-ri30rT6aaC .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: .05;
}
.cid-ri30rT6aaC .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-ri30rT6aaC .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-ri30rT6aaC .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-ri30rT6aaC .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-ri30rT6aaC .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-ri30rT6aaC .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-ri30rT6aaC .google-map {
  height: 25rem;
  position: relative;
}
.cid-ri30rT6aaC .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-ri30rT6aaC .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-ri30rT6aaC .google-map[data-state] {
  background: #e9e5dc;
}
.cid-ri30rT6aaC .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-ri30rT6aaC P {
  color: #efefef;
}
.cid-rT6HgOJz1a {
  padding-top: 30px;
  padding-bottom: 60px;
}
.cid-rT6HgOJz1a .media-container-row {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
@media (min-width: 992px) {
  .cid-rT6HgOJz1a .mbr-figure {
    padding-right: 4rem;
    padding-right: 0;
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rT6HgOJz1a .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-rT6HgOJz1a .mbr-text {
    text-align: center;
  }
}
.cid-rT6HgOJz1a H1 {
  color: #f6cf03;
  text-align: center;
}
.cid-rT6HgOJz1a .mbr-text,
.cid-rT6HgOJz1a .mbr-section-btn {
  text-align: center;
  color: #ffffff;
}
.cid-rT6HgVsgsz {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #c871d9;
}
.cid-rT6HgVsgsz .mbr-section-subtitle {
  color: #767676;
}
.cid-rT6HgVsgsz ul.list-inline {
  margin: 0;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rT6HgVsgsz ul.list-inline li {
  margin: 0;
  padding: .5rem;
}
.cid-rT6HgVsgsz ul.list-inline img {
  width: 100px;
  height: 100px;
}
.cid-rT6HgVsgsz ul.list-inline img:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
}
@media (max-width: 767px) {
  .cid-rT6HgVsgsz .list-inline-item img {
    max-width: 301px;
  }
}
.cid-rT6HgQ0v8g {
  padding-top: 60px;
  padding-bottom: 135px;
}
.cid-rT6HgQ0v8g p {
  color: #767676;
}
.cid-rT6HgQ0v8g .mbr-section-subtitle {
  color: #ffffff;
}
.cid-rT6HgQ0v8g .accordion-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-rT6HgQ0v8g .panel-group {
  width: 100%;
}
.cid-rT6HgQ0v8g .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-rT6HgQ0v8g .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-rT6HgQ0v8g .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: block;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-rT6HgQ0v8g .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-rT6HgQ0v8g .card .card-header a.panel-title h4 {
  padding: 1.3rem 2rem;
  border: 1px solid #dfdfdf;
  margin-bottom: 0;
}
.cid-rT6HgQ0v8g .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-rT6HgQ0v8g .mbr-figure {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  padding-left: 4rem;
}
@media (max-width: 991px) {
  .cid-rT6HgQ0v8g .mbr-figure {
    padding-right: 0;
    padding-left: 0;
    padding-top: 2rem;
  }
}
.cid-rT6HgQ0v8g H2 {
  color: #d0e7e7;
}
.cid-rT6HgQ0v8g H4 {
  color: #ffffff;
  text-align: center;
}
.cid-rT6HgQ0v8g .panel-text {
  text-align: center;
  color: #ffffff;
}
.cid-rT6HgQ0v8g .mbr-section-subtitle B {
  color: #271369;
}
.cid-rT6HgVXRVa {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #c871d9;
}
.cid-rT6HgVXRVa .title {
  margin-bottom: 2rem;
}
.cid-rT6HgVXRVa .mbr-section-subtitle {
  color: #ffffff;
}
.cid-rT6HgVXRVa a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-rT6HgVXRVa a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.cid-rT6HgVXRVa .multi-horizontal {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  max-width: 100%;
}
.cid-rT6HgVXRVa .input-group-btn {
  display: block;
  text-align: center;
}
.cid-rT6HgVXRVa H2 {
  color: #ffffff;
}
.cid-rT6HgVXRVa LABEL {
  color: #ffffff;
}
.cid-rT6HgWDggr {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #c871d9;
}
.cid-rT6HgWDggr .mbr-section-subtitle {
  color: #767676;
}
.cid-rT6HgWDggr ul.list-inline {
  margin: 0;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rT6HgWDggr ul.list-inline li {
  margin: 0;
  padding: .5rem;
}
.cid-rT6HgWDggr ul.list-inline img {
  width: 100px;
  height: 100px;
}
.cid-rT6HgWDggr ul.list-inline img:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
}
@media (max-width: 767px) {
  .cid-rT6HgWDggr .list-inline-item img {
    max-width: 301px;
  }
}
.cid-rT6HgXcLBn {
  padding-top: 15px;
  padding-bottom: 45px;
  background-color: #c871d9;
}
.cid-rT6HgXcLBn .socicon-bg-facebook {
  background: #3e5b98;
  color: #ffffff;
}
.cid-rT6HgXcLBn .socicon-bg-twitter {
  background: #4da7de;
  color: #ffffff;
}
.cid-rT6HgXcLBn .socicon-bg-googleplus {
  background: #dd4b39;
  color: #ffffff;
}
.cid-rT6HgXcLBn .socicon-bg-vkontakte {
  background: #5a7fa6;
  color: #ffffff;
}
.cid-rT6HgXcLBn .socicon-bg-odnoklassniki {
  background: #f48420;
  color: #ffffff;
}
.cid-rT6HgXcLBn .socicon-bg-pinterest {
  background: #c92619;
  color: #ffffff;
}
.cid-rT6HgXcLBn .socicon-bg-mail {
  background: #134785;
  color: #ffffff;
}
.cid-rT6HgXcLBn .btn-social {
  border: none !important;
}
.cid-rT6HgXcLBn [class^="socicon-"]:before,
.cid-rT6HgXcLBn [class*=" socicon-"]:before {
  line-height: 44px;
}
@media (max-width: 767px) {
  .cid-rT6HgXcLBn .btn {
    font-size: 20px !important;
  }
}
.cid-rT6HgXcLBn .mbr-section-title {
  color: #ede010;
}
.cid-rT6HgXInp5 {
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: #c871d9;
  background: linear-gradient(45deg, #c871d9, #c871d9);
}
.cid-rT6HgXInp5 .media-container-row {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
@media (min-width: 992px) {
  .cid-rT6HgXInp5 .mbr-figure {
    padding-right: 4rem;
    padding-right: 0;
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rT6HgXInp5 .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-rT6HgXInp5 .mbr-text {
    text-align: center;
  }
}
.cid-rT6HgXInp5 H1 {
  color: #fce800;
  text-align: center;
}
.cid-rT6HgXInp5 .mbr-text,
.cid-rT6HgXInp5 .mbr-section-btn {
  text-align: center;
}
.cid-rT8iA0QLKs {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rT8iA0QLKs .title {
  margin-bottom: 2rem;
}
.cid-rT8iA0QLKs .mbr-section-subtitle {
  color: #232323;
}
.cid-rT8iA0QLKs a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-rT8iA0QLKs a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.cid-rT8iA0QLKs .multi-horizontal {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  max-width: 100%;
}
.cid-rT8iA0QLKs .input-group-btn {
  display: block;
  text-align: center;
}
.cid-rT8iA0QLKs H2 {
  color: #232323;
}
.cid-rT8iA0QLKs LABEL {
  color: #ffffff;
}
.cid-rT6HgYkbgC {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/mbr-1887x1920.jpeg");
}
@media (max-width: 767px) {
  .cid-rT6HgYkbgC .content {
    text-align: center;
  }
  .cid-rT6HgYkbgC .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.cid-rT6HgYkbgC .map {
  height: 18.75rem;
}
@media (max-width: 767px) {
  .cid-rT6HgYkbgC .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-rT6HgYkbgC .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: .05;
}
.cid-rT6HgYkbgC .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rT6HgYkbgC .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-rT6HgYkbgC .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-rT6HgYkbgC .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rT6HgYkbgC .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rT6HgYkbgC .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-rT6HgYkbgC .google-map {
  height: 25rem;
  position: relative;
}
.cid-rT6HgYkbgC .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-rT6HgYkbgC .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-rT6HgYkbgC .google-map[data-state] {
  background: #e9e5dc;
}
.cid-rT6HgYkbgC .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-rT6HgYkbgC P {
  color: #efefef;
}
